.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #1da006;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.btn-secondary:not(:disabled):not(.disabled) {
  background-color: green;  
}

.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: darkgreen;  
}

.navbar-light .navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
}